[Unit]
Description=Lamellix Labs vAuth virtual authenticator
After=systemd-udevd.service

[Service]
Type=simple
User=vauth
Group=vauth
ExecStart=/usr/local/bin/vauth run
StateDirectory=vauth
StateDirectoryMode=0700
LoadCredentialEncrypted=vauth-db-auth:/etc/credstore.encrypted/vauth-db-auth
UMask=0077
NoNewPrivileges=yes
PrivateTmp=yes
ProtectHome=yes
ProtectSystem=strict
DevicePolicy=closed
DeviceAllow=/dev/uhid rw
DeviceAllow=/dev/tpmrm0 rw
DeviceAllow=/dev/tpm0 rw

[Install]
WantedBy=multi-user.target
